@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-poppins;
    }
    body {
        @apply bg-slate-50 text-sm sm:text-base dark:bg-slate-900 dark:text-white;
    } 
}
@layer utilities {
    .font-poppins {
        font-family: 'Poppins', sans-serif;
    }
}

/* toastification overrides */
.Vue-Toastification__toast-body {
    @apply text-sm flex items-center space-x-0 !important;
}
.Vue-Toastification__icon  {
    @apply mr-2 w-4 !important;
}

.Vue-Toastification__fade-leave-active,
.Vue-Toastification__fade-enter-active {
    animation-duration: 400ms !important;
}

.Vue-Toastification__toast--warning {
   background-color: #e9b414 !important;
}